[submodule "sh"]
	path = sh
	url = http://github.com/jadedrakerider/KwikGit.git
[submodule "mod/vjsc"]
	path = mod/vjsc
	url = https://github.com/GeorgeSchafer/VJSComponents.git
[submodule "js/modules"]
	path = js/modules
	url = https://github.com/GeorgeSchafer/EasyAccessorJS.git
